@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --clr-white: #f7fbfc;

  /* set 1 */
  --clr-main-light: #7db7ce;
  --clr-main-mid: #528093;
  --clr-main-dark: #13536c;
  --clr-accent: #ffb938;

  /* set 2 */
  /* --clr-main-light: #507054;
  --clr-main-mid: #2f5334;
  --clr-main-dark: #204224;
  --clr-accent: #e78279; */
}

* {
  margin: 0;
  font-family: 'Lato';
}

/* Navbar */

.navbar {
  z-index: 1000;
  position: fixed;
  top: 0px;
  width: 100%;
  min-height: 60px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0px;
  transition: 0.2s ease;
}

.navbar.active {
  background: #0e0e0edc;
  transition: 0.2s ease;
}

.navbar .box {
  width: 80%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar .box a {
  cursor: pointer;
  text-decoration: none;
}

.navbar .box h2 {
  font-size: 32px;
  font-family: 'Alice';
  color: var(--clr-white);
}

.navbar .box h2 svg {
  transform: translateY(4px);
}

.navbar .box .links {
  display: block;
}

.navbar .box .links a {
  cursor: pointer;
  text-decoration: none;
  margin-left: 40px;
  font-size: 24px;
  font-weight: 300;
  color: var(--clr-white);
  border-radius: 10px;
  padding: 4px 8px;
  transition: 0.2s ease;
}

.navbar .box .links a:hover {
  background-color: var(--clr-white);
  color: var(--clr-main-dark);
  border-radius: 10px;
}

.navbar .box .hamburger {
  background: transparent;
  border: none;
  color: var(--clr-white);
  font-size: 32px;
  display: none;
  position: relative;
}

.navbar .box .hamburger svg{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.navbar .line {
  position: absolute;
  top: 76px;
  max-width: 1350px;
  width: 90%;
  height: 1px;
  background-color: var(--clr-white);
}

@media only screen and (max-width: 992px) {
  .navbar {
    min-height: 44px;
  }

  .navbar .box h2 {
    font-size: 28px;
  }
  
  .navbar .box .links a {
    font-size: 20px;
    margin-left: 20px;
  }
  
  .navbar .line {
    top: 60px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar .box {
    display: inherit;
  }
  
  .navbar .box .hamburger {
    position: absolute;
    top: 29px;
    right: 16vw;
    display: block;
    z-index: 10001;
  }

  .navbar .box .links.side {
    transform: translateX(0);
    transition: transform 200ms ease;
  }

  .navbar .box .links {
    transform: translateX(65vw);
    transition: 200ms ease;
    z-index: 10000;
    width: 65vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #13536cde;
    backdrop-filter: saturate(180%) blur(7px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 13vh;
  }

  .navbar .box .links a {
    font-size: 28px;
    margin: 3vh auto;
  }

  .navbar .box .links a:hover {
    background-color: transparent;
    color: var(--clr-white);
  }
}



/* Home */

.home {
  padding-top: 85px;
  background: linear-gradient(135deg, var(--clr-main-light) 0%, var(--clr-main-mid) 44%, var(--clr-main-dark) 100%);
  min-height: 100vh;
}

.home .hero-section {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.home .hero-section h2 {
  font-size: 56px;
  line-height: 1;
  color: var(--clr-white);
  font-family: 'Alice';
}

.home .hero-section h2 span{
  color: var(--clr-accent);
  font-family: 'Alice';
}

.home .hero-section p {
  font-weight: 300;
  font-size: 24px;
  color: var(--clr-white);
}

.home .hero-section .sup {
  font-family: 'Alice';
  font-size: 28px;
  margin-top: 8px;
  margin-bottom: 40px;
}

.home .hero-section .info {
  max-width: 600px;
  margin-bottom: 20px;
  padding-right: 50px;
}

.home .hero-section .owner {
  font-weight: 500;
  margin-bottom: 50px;
}

.home .hero-section a {
  cursor: pointer;
  padding: 8px 14px;
  text-decoration: none;
  font-family: 'Alice';
  text-transform: uppercase;
  font-size: 28px;
  color: var(--clr-accent);
  border: 3px solid var(--clr-accent);
  border-radius: 100px;
  transition: 0.2s ease;
}

.home .hero-section a:hover {
  background-color: var(--clr-accent);
  color: var(--clr-white)
}

.home .hero-section .hero-img{
  width: 30%;
}

.home .hero-section .hero-img img{
  border-radius: 60px;
  width: 100%;
  transition: 0.2s ease;
}

.home .hero-section .hero-img img:hover {
  transform: scale(1.1);
  box-shadow: -40px 40px 50px 0px rgba(0, 0, 0, 0.380);
}

@media only screen and (max-width: 992px) {
  .home .hero-section {
    margin-top: 40px;
  }

  .home .hero-section .title {
    width: 60%;
  }

  .home .hero-section h2 {
    font-size: 42px;
  }

  .home .hero-section .sup {
    font-size: 22px;
    margin-bottom: 25px;
  }

  .home .hero-section p {
    font-size: 18px;
  }

  .home .hero-section .info {
    margin-bottom: 15px;
  }

  .home .hero-section a {
    font-size: 20px;
  }

  .home .hero-section .owner {
    margin-bottom: 35px;
  }
}

@media only screen and (max-width: 768px) {
  .home .hero-section .title {
    width: 50%;
  }

  .home .hero-section h2 {
    font-size: 36px;
  }

  .home .hero-section .sup {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .home .hero-section p {
    font-size: 16px;
  }

  .home .hero-section .info {
    margin-bottom: 10px;
  }

  .home .hero-section a {
    font-size: 18px;
  }

  .home .hero-section .owner {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .home .hero-section {
    flex-direction: column;
  }

  .home .hero-section .title {
    z-index: 10;
    width: 100%;
  }

  .home .hero-section .title h2, p {
    text-align: center;
  }

  .home .hero-section .title .info {
    padding: 0;
  }

  .home .hero-section .title .contact-button {
    text-align: center;
  }

  .home .hero-section .hero-img{
    display: none;
  }
}


/* OFFERT */

.home .offert {
  z-index: 50;
  min-height: 500px;
  margin-top: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('img/water.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.5);
}

.home .offert .boxes {
  margin: 0 auto;
  padding: 75px 50px;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.home .offert .boxes .box {
  padding: 30px 30px;
  margin: 30px 30px;
  color: var(--clr-main-dark);
  width: 200px;
  aspect-ratio: calc(2/3);
  background-color: var(--clr-white);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.home .offert .boxes .box h2 {
  font-family: 'Alice';
  font-size: 32px;
}

.home .offert .boxes .box p {
  text-align: center;
  font-size: 16;
}

.home .offert .boxes .box a {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  padding: 8px 12px;
  color: var(--clr-main-dark);
  border: 2px solid var(--clr-main-dark);
  border-radius: 50px;
  transition: 0.2s ease;
}

.home .offert .boxes .box a:hover {
  color: var(--clr-white);
  background-color: var(--clr-main-dark);
}

@media only screen and (max-width: 992px) {
  .home .offert {
    margin-top: 75px;
  }

  .home .offert .boxes {
    padding: 50px 50px;
  }

  .home .offert .boxes .box {
    width: 175px;
    margin: 25px;
    padding: 25px;
  }

  .home .offert .boxes .box h2 {
    font-size: 24px;
  }

  .home .offert .boxes .box p {
    font-size: 14px;
  }

  .home .offert .boxes .box a {
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .home .offert .boxes .box {
    width: 130px;
    aspect-ratio: calc(1/2);
    margin: 10px;
    padding: 20px;
  }

  .home .offert .boxes .box h2 {
    font-size: 20px;
  }

  .home .offert .boxes .box p {
    font-size: 12px;
  }

  .home .offert .boxes .box a {
    font-size: 14px;
  }
}


/* PRODUCTS */

.home .products {
  z-index: 20;
  min-height: 500px;
  background: linear-gradient(135deg, rgba(236,221,191,1) 0%, rgba(221,191,133,1) 100%);
  padding: 100px 0;
}

.home .products .box {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 30px;
}

.home .products .box .product {
  border-radius: 20px;
  max-height: 500px;
  transition: 0.2s ease;
}

.home .products .box .product:hover {
  transform: scale(1.1);
  box-shadow: -40px 40px 30px rgba(0, 0, 0, 0.212);
}

.home .products .box .product:nth-of-type(1) {
  height: 600px;
  background: url('img/products/product-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  grid-column: 1/2;
  grid-row: 1/4;
}

.home .products .box .product:nth-of-type(1):hover {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('img/products/product-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.home .products .box .product:nth-of-type(2) {
  height: 600px;
  background: url('img/products/product-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  grid-column: 2/3;
  grid-row: 2/5;
}

.home .products .box .product:nth-of-type(2):hover {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('img/products/product-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.home .products .box .product:nth-of-type(3) {
  height: 600px;
  background: url('img/products/product-3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  grid-column: 3/4;
  grid-row: 1/4;
}

.home .products .box .product:nth-of-type(3):hover {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('img/products/product-3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.home .products .box .product:nth-of-type(4) {
  height: 600px;
  background: url('img/products/product-4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  grid-column: 4/5;
  grid-row: 2/5;
}

.home .products .box .product:nth-of-type(4):hover {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('img/products/product-4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.home .products .box .product h2 {
  color: var(--clr-white);
  font-family: 'Alice';
  text-align: center;
  margin: 50px auto;
  padding: 0 20px;
  font-size: 32px;
  transform: translateY(-100px);
  transition: 0.2s ease;
}

.home .products .box .product:hover h2 {
  transform: translateY(0px);
}

.home .products .box .product p {
  padding: 0 15px;
  color: var(--clr-white);
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  opacity: 0;
  transition: 0.2s ease;
}

.home .products .box .product:hover p {
  opacity: 1;
}

.home .products .box .product .buy {
  margin: 50px auto;
  padding: 0 20px;
  text-align: center;
  opacity: 0;
  transition: 0.2s ease;
}

.home .products .box .product .buy a {
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Alice';
  font-size: 20px;
  color: var(--clr-accent);
  border: 2px solid var(--clr-accent);
  border-radius: 50px;
  padding: 8px 14px;
}

.home .products .box .product .buy:hover a {
  color: var(--clr-white);
  background-color: var(--clr-accent);
}

.home .products .box .product:hover .buy {
  opacity: 1;
}

@media only screen and (max-width: 992px) {
  .home .products {
    padding-bottom: 75px;
    min-height: 400px;
  }

  .home .products .box {
    gap: 0 20px;
  }

  .home .products .box .product {
    max-height: 300px;
  }
  
  .home .products .box .product h2 {
    font-size: 22px;
    margin: 40px auto;
    transform: translateY(-80px);
  }

  .home .products .box .product p {
    font-size: 14px;
  }

  .home .products .box .product .buy {
    margin: 40px auto;
  }

  .home .products .box .product .buy a {
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .home .products {
    padding-bottom: 75px;
    padding-top: 75px;
    min-height: 250px;
  }

  .home .products .box {
    gap: 0 15px;
  }

  .home .products .box .product {
    max-height: 250px;
  }
  
  .home .products .box .product h2 {
    font-size: 15px;
    margin: 30px auto;
    transform: translateY(-60px);
  }

  .home .products .box .product p {
    font-size: 12px;
  }

  .home .products .box .product .buy {
    margin: 30px auto;
  }

  .home .products .box .product .buy a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) {
  .home .products .box {
    grid-template-rows: repeat(9, 1fr);
    gap: 0 30px
  }

  .home .products .box .product:nth-of-type(1) {
    grid-column: 1/3;
    grid-row: 1/4;
  }

  .home .products .box .product:nth-of-type(2) {
    grid-column: 3/5;
    grid-row: 3/6;
  }

  .home .products .box .product:nth-of-type(3) {
    grid-column: 1/3;
    grid-row: 5/8;
  }

  .home .products .box .product:nth-of-type(4) {
    grid-column: 3/5;
    grid-row: 7/10;
  }
}


/* CONTACT */

.home .contact {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),url('img/contact.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.5);
}

.home .contact .content {
  margin: 0 auto;
  max-width: 1200px;
  padding: 50px 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home .contact .content .doctor-image {
  border: 3px solid var(--clr-white);
  border-radius: 1000px;
  height: 300px;
  aspect-ratio: 1;
  transition: 0.2s ease;
}

.home .contact .content .doctor-image:hover {
  transform: scale(1.1);
  box-shadow: -40px 40px 30px rgba(0, 0, 0, 0.212);
}

.home .contact .content .text {
  margin-left: 75px;
  color: var(--clr-white);
}

.home .contact .content .text h2 {
  margin-bottom: 20px;
  font-size: 28px;
}

.home .contact .content .text .data p {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  margin-bottom: 8px;
}

.home .contact .content .text a {
  color: var(--clr-white);
  text-decoration: none;
}

@media only screen and (max-width: 992px) {
  .home .contact .content .text {
    margin-left: 50px;
  } 

  .home .contact .content .doctor-image {
    height: 200px;
  }

  .home .contact .content .text h2 {
    font-size: 22px;
  }

  .home .contact .content .text .data p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .home .contact .content {
    padding: 50px 100px;
  }

  .home .contact .content .text {
    margin-left: 35px;
  } 

  .home .contact .content .doctor-image {
    height: 135px;
  }

  .home .contact .content .text h2 {
    font-size: 18px;
  }

  .home .contact .content .text .data p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .home .contact .content {
    flex-direction: column;
    padding: 50px 50px;
  }

  .home .contact .content .text {
    margin-left: 0px;
    margin-top: 20px;
  } 

  .home .contact .content .text .owner {
    text-align: center;
  }

  .home .contact .content .doctor-image {
    height: 150px;
  }
}


/* FOOTER */

.home .footer {
  min-height: 76px;
  background: rgba(255, 255, 255, 0.320);
  backdrop-filter: saturate(180%) blur(7px);
  border-top: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(135deg, rgba(255, 254, 252, 0.062) 0%, rgba(184, 184, 184, 0.089) 59%, rgba(255, 255, 255, 0.103) 75%, rgba(228, 228, 228, 0.164) 100%);
  color: var(--clr-white);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home .footer .items {
  width: 100%;;
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home .footer .items .socials a {
  color: var(--clr-white);
  font-size: 24px;
  margin-right: 20px;
}

.home .footer .items p {
  font-size: 14px;
}

@media only screen and (max-width: 992px) {
  .home .footer {
    min-height: 50px;
  }

  .home .footer .items .socials a {
    font-size: 16px;
  }

  .home .footer .items p {
    font-size: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .home .footer .items .socials a {
    font-size: 14px;
  }

  .home .footer .items p {
    font-size: 9px;
  }
}

@media only screen and (max-width: 600px) {
  .home .footer .items {
    padding: 0 50px;
  }

  .home .footer .items .socials a {
    margin-right: 10px;
  }
}